* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Abula-Light";
    src: url("../assets/Fonts/Abula/Abula-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Now";
    src: url("../assets/Fonts/now/Now-Light.otf") format("opentype");
}

body {
    background-color: #162338;
    display: flex;
    flex-direction: row;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.badgeView {
    display: flex;
    position: relative;
    top: -600px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 20vw;
    border-radius: 25px;
  }

#imgBack {
    height: 60vh;
    width: 20vw;

    border: 2px solid cyan;
    background-color: aliceblue;
}
.imgBack {
    position: relative;
    height: 60vh;
    width: 20vw;
    border-radius: 25px;
    background-color: #272b31;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10px 25px;
}



  .imgBack::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    border-radius: 25px;
  }
  
  .imgBack > * {
    position: relative;
    z-index: 1;
  }
.profilePhoto {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.dynamicImg {
    background: url("../assets/TEMPLATES/Front/1.png");
    height: 400px;
    width: 250px;
    border-radius: 50%;
    background-position: 10% 10%;
}

.qrCode {
    border: 1px solid white;
    border-radius: 25px;
    height: 200px;
}

.badgeView > h2 {
    color: white;
    font-size: 35px;
    margin: 25px;
}

.titles {
    color: white;
    font-size: 40px;
    margin: 15px;
}

.profile {
    position: relative;
    background-color: 162338;
    border-radius: 50%;
    border: 2px solid red;
    height: 11vh;
}

.nameEx {
    text-align: center;
    font-weight: 280;
    font-size: 10px;
    text-align: start;
    font-family: "Abula-Light";
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    width: 35vh;;
}

.intraName {
    font-family: "Now";
    font-size: 7px;
    font-weight: 200;
    text-align: start;
    width: 10vw;
}

.badgeView {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}
