* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #162338;
    display: flex;
    flex-direction: row;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.badgeView {
    background-color: #1b2029;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 20vw;
    border-radius: 25px;
}

.profilePhoto {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.profilePhoto:hover{
    filter: blur(2px);
    opacity: 25%;
}

.qrCode {
    border: 1px solid white;
    border-radius: 25px;
    height: 200px;
}

.badgeView > h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 25px;
}

.titles {
    color: white;
    font-size: 40px;
    margin: 15px;
}

.profile {
    background-color: 162338;
    border-radius: 50%;
    border: 2px solid red;
    height: 10.3vh;
}

.nameEx {
    background-color: red;
    text-align: center;
    width: 35vh;
}

.intraName {
    background-color: red;
    text-align: center;
    width: 35vh;
}

.config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 25px 25px 25px;
}